[submodule "include/ctti"]
	path = include/ctti
	url = https://github.com/Manu343726/ctti.git
[submodule "include/Hypodermic"]
	path = include/Hypodermic
	url = https://github.com/ybainier/Hypodermic.git
